*{
    box-sizing:border-box;
}
:host {
    margin: 30px 10px;
}

.sectionContainer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

.right > .image{
    order:1;
}
.right > .text{
    order:2;
}

.top, .bottom{
    flex-flow:row wrap;
}
.top .image, .top .text ,.bottom .image, .bottom .text {
    width:100%;
}
.bottom .image{
    order:2;
} 
.bottom .text {
    order:1;
}
.top .image, .bottom .image{
    height:0;
    padding-bottom:50%;
}

.image {
    width:50%;
    background-size: cover;
    background-position: center;
}

.text {
    width:50%;
    padding: 32px 50px 50px;
    text-align: left;
    background-color: #eef0f0;
    color: #5c6162;
}

.text h2 {
    margin-top: 46px;
    font-size: 4.7rem;
    line-height: 5.6rem;
    font-weight: 200;
}

.text p {
    margin: 15px 0;
    color: #303333;
    font-size: 1.9rem;
    letter-spacing: normal;
    line-height: 3rem;
}
